<footer class="footer boxs">

    <div class="container-fluid">
        <div class="footerIn">
            <h2>Check the background of Mudani on
                <a href="https://adviserinfo.sec.gov/firm/summary/309517 ">
                    <span class="colorLight">FINRA’s BrokerCheck</span>
                </a>
            </h2>
            <div class="footerLower">
                <div class="footerBox logoX">
                    <ul>
                        <li>
                            <a [routerLink]="['/home']" class="footLo">
                                <img src="assets/images/footer_logo.png" alt="logo">
                            </a>
                        </li>
                        <!-- <li><a [routerLink]="['/home']">Mudani Capital</a></li> -->
                    </ul>
                </div>
                <div class="footerBox">
                    <ul>
                        <li><a [routerLink]="['/']" (click)="scroll('Feature')">Product</a></li>
                        <li><a [routerLink]="['/']" (click)="scroll('Security')">Security</a></li>
                        <!-- <li><a [routerLink]="['/investment']">Methodology</a></li> -->
                        <li><a href="javascript:void(0)">Methodology</a></li>
                        <!-- <li><a href="javascript:void(0)" [routerLink]="['/u-mudani']">Mudani-U</a></li>
                        <li><a [routerLink]="['/mudani-B2B']"> Mudani-B2B</a></li> -->

                        <li><a href="javascript:void(0)">Mudani-U</a></li>
                        <li><a href="javascript:void(0)"> Mudani-B2B</a></li>

                    </ul>
                </div>
                <div class="footerBox">
                    <ul>
                        <li><a href="javascript:void(0)">Legal</a></li>
                        <li><a href="javascript:void(0)">Terms of Use</a></li>
                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                        <li><a href="javascript:void(0)"> Form ADV Part 2</a></li>

                    </ul>
                </div>


                <div class="footerBox">
                    <ul>
                        <!-- <li class="head">Learn More</li> -->
                        <li><a href="http://mudani.com/blogs">Blog</a></li>
                        <!-- <li><a href="javascript:void(0)">Blog</a></li> -->
                        <li><a [routerLink]="['/refer-friend']">Refer a Friend</a></li>
                        <li><a href="https://mudani.wixanswers.com/kb/en/contact"> Careers</a></li>
                        <li><a href="http://mudani.com/blogs"> Press</a></li>
                        <li><a href="https://mudani.wixanswers.com/kb/en/contact"> Contact Us</a></li>
                        <li><a href="javascript:void(0)"> FAQ</a></li>
                    </ul>
                </div>
                <div class="footerBox">
                    <ul class="socialIcon">
                        <li>
                            <a href="mailto:support@mudani.com">
                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                support@mudani.com
                            </a>
                        </li>
                    </ul>
                    <ul class="socialIconns">
                        <li>
                            <a target="_blank" href="https://m.facebook.com/mudanicap/">
                                <i class="fa fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://mobile.twitter.com/mudani?lang=en">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://instagram.com/mudaniapp?igshid=u1eqerx58q7j">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <!-- <li>
                            <a href="#0">
                                <i class="fa fa-google"></i>
                            </a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="footerPara">
            <p class="headmain">Copyright © 2020 Mudani Capital LLC | All rights reserved</p>
        </div>
    </div>
</footer>