.InvestmentFlip .iconInner{ height: 300px; width: 100%;}
.InvestmentFlip .iconInner .globeImg{ width: 100% }
.InvestmentFlip .iconInner .globeContent{ padding: 0 }
.InvestmentFlip .iconInner .globeContent p{ color: #fff }

.investInner.investInner33 h2 {
    text-transform: inherit;
}

.colorBlue {
    color: #1ccbc0;
}

.FirstFlip .back{
	display: flex;
    align-items: center;
    justify-content: center;
}
 