<app-header></app-header>

<section>
    <div class="MissionArea">
        <div class="container-fluid">
            <h2 class="mainHead">Our <span class="colorBlue">mission</span></h2>
            <p class="headmain">Our mission is to transition the power to retail investors by bringing accessibility to all facets of investing. And when we say we want to democratize investing for all, we mean it.</p>
        </div>
    </div>
</section>

<section>
    <div class="StepArea">
        <div class="container-fluid">
            <h2 class="mainHead">Why we're here</h2>

            <div class="row">
                 
                <div class="col-sm-12">
                    <div class="StepRight">
                        <ul>
                            <li>
                                <div class="StepBox">
                                    <aside>
                                        <figure>
                                            <img src="assets/images/arrow-right.png">
                                        </figure>
                                    </aside>
                                    <article><span>The problem.</span></article> 
                                    <p>Retail investors account for roughly 20% of stock-market activity on average. Hedge funds, investment banks, and other institutional investors control the majority of the market. We want to narrow that gap.</p>
                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="StepBox">
                                    <aside>
                                        <figure>
                                            <img src="assets/images/arrow-left.png">
                                        </figure>
                                    </aside>
                                    <article><span>The Idea.</span></article>   
                                    <p>Create an investing app for the retail investor (people) that is completely conflict-free from Wall Street. We do this in three ways:</p>

                                    <p>1) Mudani does not accept any institutional investors on its platform, only retail.</p>

                                    <p>2) Mudani does not accept any backing or funding from the “big boys” on Wall St.</p>

                                    <p>3) Mudani does not take any cut in the ”Payment for order flow” (PFOF).</p>

                                </div>
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="StepBox">
                                    <aside>
                                        <figure>
                                            <img src="assets/images/arrow-right.png">
                                        </figure>
                                    </aside>
                                    <article><span>The Vision.</span></article> 
                                    <p>Our founders started at the very root of the problem – on Wall Street. Witnessing the disparity and obscurity first hand at these institutional powerhouses, they decided to create a team that catered to the retail investor and not just the wealthy.</p>
                                </div>                                    
                                <div class="clear"></div>
                            </li>
                            <li>
                                <div class="StepBox">
                                    <aside>
                                        <figure>
                                            <img src="assets/images/arrow-left.png">
                                        </figure>
                                    </aside>
                                    <article><span>The Solution.</span></article> 
                                    <p>After two years of development, finding the right team with a common belief, and partnering with best-in-class technology, Mudani was born. Our goal remains simple. Cater to every type of retail investor, no matter their bank account balance, know-how, or net worth. To be an all-in-one fintech platform that makes investing easy, educational and fun.</p>

                                    <p>To be transparent, trusting, and true to our word.</p>

                                </div> 
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="CommitmentArea">
        <div class="container-fluid">
            <div class="CommitmentHead">
                <h2 class="mainHead">Our <span class="colorBlue">Commitment</span></h2>
                <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>

            <div class="CommitmentBody">
                <div class="CommitmentBox">
                    <figure><img src="assets/images/Commitment-1.png"></figure>
                    <h4>Democratizing financial markets</h4>
                    <p>It’s in our mission statement. Let’s conquer this together. Power to the people.</p>
                </div>
             
                <div class="CommitmentBox">
                    <figure><img src="assets/images/Commitment-2.png"></figure>
                    <h4>Financial literacy to all</h4>
                    <p>We’ll explain all of the finance lingo in simple English. Subscribe to our weekly Round Table.</p>
                </div>
            
                <div class="CommitmentBox">
                    <figure><img src="assets/images/Commitment-3.png"></figure>
                    <h4>Investing made fun</h4>
                    <p>Investing can be boring at times. So we made it fun with our free weekly fantasy games. Earn free stock and other rewards.</p>
                </div>
             
            </div>

            <div class="CommitmentBody"> 
                <div class="CommitmentBox">
                    <figure><img src="assets/images/Commitment-4.png"></figure>
                    <h4>Reward our members</h4>
                    <p>Earn free stock and other rewards by simply signing up, referring friends, making stock trades, or by playing our weekly fantasy games.</p>
                </div>
             
                <div class="CommitmentBox">
                    <figure><img src="assets/images/Commitment-5.png"></figure>
                    <h4>Diversity & inclusion</h4>
                    <p>Our founders come from a wide range of backgrounds, cultures, and countries. We pride ourselves on diversity and inclusion. As long as you pass our background check, you’re accepted at Mudani.</p>
                </div> 
            </div> 
        </div>
    </div>
</section>



<section>
    <div class="FiduciaryArea">
        <div class="container-fluid">
            <h2 class="mainHead">We are Fiduciary<span class="colorBlue"> Money <br>Managers</span></h2>
            
            <h3>Fiduciary [fuh·doo·shee·eh·ree] /noun\Definition\:<br>
                a person who holds a legal and ethical relationship of trust with its clients.</h3>

            <p class="headmain">In simple english: we, by law, are required to act in YOUR best interest.</p>

            <article>
                <aside>
                    <h6>Fiduciary</h6>
                </aside>
                <ul>
                    <li><span>Put client first</span></li>
                    <li><span>Transparency</span></li>
                    <li><span>Avoid conflict of interests</span></li>
                    <li><span>Operate with full disclosure</span></li>
                </ul>
            </article>

        </div>
    </div>
</section>

<section>
    <div class="PartnerArea">
        <div class="container-fluid"> 
            <h2 class="mainHead">Our <span class="colorBlue">Partners</span></h2>
            <ul>
                <li><img src="assets/images/Partners-1.png"></li>
                <li><img src="assets/images/Partners-2.png"></li>
                <li><img src="assets/images/Partners-3.png"></li>
            </ul>
            
        </div>
    </div>
</section>



<!--   
<section class="ourMission boxs">
    <div class="container-fluid">
        <div class="missionInner">

            <h2 class="mainHead">Our <span class="colorBlue">mission</span></h2>
            <p class="headmain">Our mission is to transition the power to retail investors by bringing accessibility to all facets of investing. And when we say we want to democratize investing for all, we mean it.</p>
        </div>
    </div>
</section>

<section class="quickStep boxs sidepadding"> 
    <div class="quickStepMain boxs">
        <div class="quickStepLeft aboutRight enquiryMain boxs">
            <h2 class="mainHead">Why we're here</h2>
        </div>
        <div class="container-fluid">
            <div class="row"> 
                <div class="col-lg-12">
                    <div class="quickStepRight boxs">
                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-right.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText">
                                    <h3>The problem.</h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner">
                                    <p>Retail investors account for roughly 20% of stock-market activity on average.  Hedge funds, investment banks, and other institutional investors control the majority of the market.  We want to narrow that gap. </p>
                                </div>
                            </div>
                        </div>

                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-left.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText istTextLeft">
                                    <h3>The Idea.</h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner mainTextInnerLeft">
                                    <p>Create an investing app for the retail investor (people) that is completely conflict-free from Wall Street. </p>

                                    <p>We do this in three ways:</p>

                                    <p>1) Mudani does not accept any institutional investors on its platform, only retail.</p>

                                    <p>2) Mudani does not accept any backing or funding from the “big boys” on Wall St.</p>

                                    <p>3) Mudani does not take any cut in the ”Payment for order flow” (PFOF).</p>

                                </div>
                            </div>
                        </div>

                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-right.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText">
                                    <h3>The Vision. </h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner">
                                    <p>Our founders started at the very root of the problem – on Wall Street. </p>

                                    <p>Witnessing the disparity and obscurity first hand at these institutional powerhouses, they decided to create a team that catered to the retail investor and not just the wealthy.</p>

                                </div>
                            </div>
                        </div>

                        <div class="quickIstMain boxs">
                            <div class="quickIst boxs">
                                <div class="istImgouter">
                                    <div class="istImgInner">
                                        <div class="istImg">
                                            <img src="assets/images/arrow-left.png" alt="arrow" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                                <div class="istText istTextLeft">
                                    <h3>The Solution.</h3>
                                </div>
                            </div>
                            <div class="mainText boxs">
                                <div class="mainTextInner mainTextInnerLeft">

                                    <p>After two years of development, finding the right team with a common belief, and partnering with best-in-class technology, Mudani was born.</p>

                                    <p>Our goal remains simple. Cater to every type of retail investor, no matter their bank account balance, know-how, or net worth.</p>

                                    <p>To be an all-in-one fintech platform that makes investing easy, educational and fun.</p>

                                    <p>To be transparent, trusting, and true to our word.</p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ourCommit boxs">
    <div class="container-fluid">
        <div class="ourCommitIn">
            <h2 class="mainHead">Our <span class="colorBlue">Commitment</span></h2>
            <p class="headmain">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="commitIn">
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/bulb.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Democratizing financial markets</h2>
                <p class="headmain">It’s in our mission statement. Let’s conquer this together. Power to the people.</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/book.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Financial literacy to all</h2>
                <p class="headmain">We’ll explain all of the finance lingo in simple English. Subscribe to our weekly Round Table.</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/party.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Investing made fun</h2>
                <p class="headmain">Investing can be boring at times. So we made it fun with our free weekly fantasy games. Earn free stock and other rewards.</p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/badge.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Reward our members</h2>
                <p class="headmain">Earn free stock and other rewards by simply signing up, referring friends, making stock trades, or by playing our weekly fantasy games.  </p>
            </div>
            <div class="commitContent">
                <div class="comitImg">
                    <img src="assets/images/inclusion.png" class="img-fluid" alt="bulb">
                </div>
                <h2 class="inner">Diversity & inclusion</h2>
                <p class="headmain">Our founders come from a wide range of backgrounds, cultures, and countries. We pride ourselves on diversity and inclusion. As long as you pass our background check, you’re accepted at Mudani.</p>
            </div>

        </div>
    </div>
</section>
 
<section class="Managers boxs">
    <div class="container-fluid">
        <div class="mangerIn">
            <h2 class="mainHead new">We are Fiduciary<span class="colorBlue"> Money <br>Managers</span></h2>
            <h2 class="inner low">Fiduciary [fuh·doo·shee·eh·ree] /noun\Definition\:<br>
                a person who holds a legal and ethical relationship of trust with its clients.</h2>
            <div class="managerCon">
                <p class="headmain">In simple english: we, by law, are required to act in YOUR best interest.</p>

                
            </div>
        </div>
        <div class="Fiduciary">
            <ul class="FiduciaryMain">
                <li>Fiduciary</li>
            </ul>
            <ul class="fiduFour">
                <li>Put client first</li>
                <li>Transparency</li>
                <li>Avoid conflict of interests</li>
                <li>Operate with full disclosure</li>
            </ul>
        </div>
    </div>
</section>

<section class="partners boxs">
    <div class="container-fluid">
        <div class="partnerIn">
            <h2 class="mainHead">Our <span class="colorBlue">Partners</span></h2>
            <ul class="tradingtrading">
                <li><img src="assets/images/Partners-1.png" class="img-fluid" alt="trading"></li>
                <li><img src="assets/images/Partners-2.png" class="img-fluid" alt="interactive"></li>
                <li><img src="assets/images/Partners-3.png" class="img-fluid" alt="trading"></li>
            </ul>
        </div>
    </div>
</section> 
-->

<app-footer></app-footer>