
<app-header></app-header>

<section class="retairement boxs ThematicTop">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft ">
                        <h2 class="mainHead upperCase">Invest in trends   <br>
                            <span class="colorNeww">that will transform the future.</span>
                        </h2>
                        <p class="headmain">An investment strategy which aims to identify long-term macro-level trends, and the underlying investments that stand to benefit from the materialization of those trends. It’s an investment to capitalize on major technological, societal, and other changes expected to take place around the world.</p>
                       
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight Thematic">
                        <img src="assets/images/Ani.gif" alt="">
                        <!-- <div class="lappo">
                            <h2 class="inner">Lorem Ipsum</h2>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="row">
                <a href="https://play.google.com/store" class="Thematiclink">Add a thematic basket for $1</a>
            </div>

        </div>
    </div>
</section>

<section class="allIcon boxs ThematicFlip">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="flip FirstFlip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/globe.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>ESG & Socially Responsible</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>ESG & Socially Responsible</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/globe.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Environmental, Social, and Corporate Governance refers to the three central factors in measuring the sustainability and societal impact of an investment in a company.</p>

                            <p>Socially responsible investing, "green" or ethical investing, is any investment strategy which seeks to consider both financial return and social/environmental good to bring about social change</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/bit.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Blockchain & Cryptocurrency</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Blockchain & Cryptocurrency</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/bit.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Blockchain technology is simply defined as a decentralized, distributed ledger that records transactions of a digital asset. Blockchains are used for recording transactions made with cryptocurrencies, such as Bitcoin, and have many other applications.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/leaf.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Cannabis</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Cannabis</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/leaf.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Cannabis investing is highly speculative, however, it’s growth potential cannot be underestimated. Our thematic portfolio invests in companies across the cannabis industry. This includes companies involved in the legal production, growth and distribution of cannabis and industrial hemp, as well as pharmaceutical applications of cannabis, cannabidiol (i.e., CBD), or other related uses.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/game.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Sports Betting & E-Gaming</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Sports Betting & E-Gaming</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/game.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Between the recent legalization of sports betting and improving technology, sports betting is becoming more accessible than ever before. This will help drive growth in the U.S. gaming industry and create interesting investment opportunities. We believe sports betting is here to stay, and we believe it may reward companies with the ability to pivot and tap into legalized online gambling. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/shield.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>Cybersecurity</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>Cybersecurity</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/shield.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>Hackers are everywhere and they will only get better. Hacks, data breaches, and cyber-fraud have rapidly increased, fueling the need to take steps to protect people online. </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="flip">
                    <div class="iconInner front">
                        <div class="globeImg">
                            <img src="assets/images/setting.png" alt="globe">
                        </div>
                        <div class="globeContent">
                            <p>SPACs</p>
                        </div>
                    </div>
                    <div class="iconInner back">
                        <div class="iconInnerFlex">
                            <div class="globeContent">
                                <p>SPACs</p>
                            </div>
                            <div class="globeImg">
                                <img src="assets/images/setting.png" alt="globe">
                            </div>
                        </div>
                        <div class="globeDetail">
                            <p>A special purpose acquisition company (SPAC) is a "blank check" shell corporation designed to take companies public without going through the traditional IPO process. SPACs allow retail investors to invest in private equity type transactions, particularly leveraged buyouts.</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
         
        <!-- <div class="viewThemantic">
            <a href="javascript:void(0)" class="btnsAll allIconShow">view all thematic portfolios</a>
        </div> -->
    </div>
</section>


<section class="freuentlyAsk boxs">
    <div class="container-fluid">
        <div class="frequantAll">
            <h2 class="mainHead">Frequently asked <span class="colorNeww">questions</span></h2>
        </div>
        <div class="AllAccordian">
            <div class="discord discordFree ">
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class="active">
                        <i class="fa fa-minus"></i>
                        <span>How much does Mudani charge for a thematic portfolio?</span>
                    </a>
                    <div class="content content2" style="display: block;">
                        <div class="cont_full freqContet">
                            <p>$1/month.  For real. </p>
                        </div>
                    </div>
                </div> 
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class="">
                        <i class="fa fa-plus"></i>
                        <span>What if I only have a self-directed account?</span>
                    </a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>No worries. Just add a managed thematic portfolio in the Mudani app and you’ll see it show up under your “managed” tab.</p>
                        </div>
                    </div>
                </div>
<!-- 
                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>

                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>

                <div class="set freqBlock set2 ">
                    <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                    <div class="content content2" style="display: none;">
                        <div class="cont_full freqContet">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                        </div>
                    </div>
                </div>

                <div class="freqBlockHide">
                    <div class="set freqBlock set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full freqContet">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div>

                    <div class="set freqBlock set2 ">
                        <a href="javascript:void(0)" class=""><i class="fa fa-plus"></i><span>What are thematic portfolios?</span></a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full freqContet">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Etiam vulputate quam nec velit varius, eget sodales enim auctor.
                                    Donec aliquet risus quis lectus semper, et sagittis est bibendum.</p>
                            </div>
                        </div>
                    </div> 
                </div>
 -->
            </div>
            <!-- <div class="seeAll">
                <a  href="javascript:void(0)" class="btnsAll freqBlockShow">See All</a> 
            </div> -->
        </div>
    </div>
</section>
<app-footer></app-footer>