.retairmentLeft h2.mainHead {
    text-transform: inherit;
}

.retairmentLeft h2.mainHead br{ display: block; }

.Thematiclink {
    background-color: #1ccbc0;
    color: #fff;
    padding: 12px 30px;
    width: 300px;
    text-align: center;
    border-radius: 50px;
    margin: 20px auto 0;
    font-weight: 500;
    font-family: 'RobotoRegular';
}