<app-header></app-header>
<section class="retairement indexAll boxs roundbg">
    <div class="container-fluid">
        <div class="retairmentInner">
            <div class="row">
                <div class="col-sm-6">
                    <div class="retairmentLeft indexLeft">
                        <h2 class="mainHead first">Investing Made <br>
                            <span class="colorBlue">Fun</span>
                        </h2>
                        <p class="headmain">
                            Wanna buy stocks or crypto? Let’s trade. Investing newbie? Our robo-advisor will create and
                            manage a portfolio for you. Just curious to learn? Play our free weekly fantasy games or
                            sign up for our Round Table.
                        </p>

                        <h2 class="inner">An all-in-one app for the everyday retail investor.</h2>

                    </div>
                    <div class="indexleftLow">
                        <a [routerLink]="['/sign-up']" class="btnsAll" style="text-transform: none;"> Sign up</a>
                        <ul>
                            <li>
                                <a href="https://play.google.com/store">
                                    <img src="assets/images/play-store.png" alt="play">
                                </a>
                            </li>
                            <li>
                                <a href="https://www.apple.com/in/app-store/">
                                    <img src="assets/images/app-store.png" alt="app">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="retairmentRight retairmentRightRound indesRight">
                        <img src="assets/images/home.png" alt="mobile">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="TransferBanner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <div class="TransferLeft">
                        <img src="assets/images/transfer.png">
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="TransferRight">
                        <h1>Have brokerage accounts elsewhere? <br> Transfer your account and earn up to $500</h1>
                        <p>Fed up Robinhood? For a limited time, earn up to $500 when you transfer your brokerage
                            account to us.</p>
                        <a href="javascript:void(0);">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="rollOver WE_DO boxs">
    <div class="container-fluid">
        <div class="weDo">
            <h2 class="mainHead">
                <span class="Big">3</span> simple
                <span class="colorBlue">steps.</span>
            </h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="rollIn doAll">
                    <div class="rollImg  doImg">
                        <img src="assets/images/check.png" alt="check">
                    </div>
                    <h2 class="inner">Sign Up</h2>
                    <p class="headmain">
                        Create an account within minutes. Complete the signup journey and receive a FREE stock.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll">
                    <div class="rollImg doImg">
                        <img src="assets/images/path.png" alt="path">
                    </div>
                    <h2 class="inner">Pick a Path</h2>
                    <p class="headmain">
                        A dual-journey platform allowing you to choose from a self-directed trading account, a
                        professionally managed account or both on one single platform.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rollIn doAll">
                    <div class="rollImg doImg">
                        <img src="assets/images/journey.png" alt="journey">
                    </div>
                    <h2 class="inner">Start your investing journey</h2>
                    <p class="headmain">
                        Deposit funds to get started or play our free fantasy games and earn rewards!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <div id="instafeed"></div> -->

<section class="what_Get boxs" id="Feature">
    <div class="DesktopView">
        <div class="container-fluid">
            <div class="whatGetIn">
                <h2 class="mainHead">What you get.</h2>
                <p class="headmain">Our unique features make investing easy, educational, and fun.</p>
            </div>
            <div class="dotsTab">
                <div class="dotsFlex">
                    <div>
                        <ul class="nav nav-tabs">
                            <li class="active settingshead">
                                <a href="#first" data-toggle="tab" class="active">
                                    <span class="Circle"></span>
                                    <span class="Title">Dual-Investment Journey</span>
                                </a>
                            </li>
                            <li class="settingshead">
                                <a href="#second" data-toggle="tab">
                                    <span class="Circle"></span>
                                    <span class="Title">Fantasy Stock Games & Rewards</span>
                                </a>
                            </li>

                            <li class="settingshead">
                                <a href="#third" data-toggle="tab">
                                    <span class="Circle"></span>
                                    <span class="Title">Cryptocurrency</span>
                                </a>
                            </li>

                            <li class="settingshead">
                                <a href="#fourth" data-toggle="tab">
                                    <span class="Circle"></span>
                                    <span class="Title">Fractional Share Trading</span>
                                </a>
                            </li>

                            <li class="settingshead">
                                <a href="#fifth" data-toggle="tab">
                                    <span class="Circle"></span>
                                    <span class="Title">Thematic Baskets</span>
                                </a>
                            </li>

                            <li class="settingshead">
                                <a href="#sixth" data-toggle="tab">
                                    <span class="Circle"></span>
                                    <span class="Title">Margin & Options</span>
                                </a>
                            </li>

                            <li class="settingshead">
                                <a href="#seventh" data-toggle="tab">
                                    <span class="Circle"></span>
                                    <span class="Title">Round-up Investing</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane active" id="first">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-1.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Dual-Investment Journey </h2>
                                    <p>Our platform allows users to choose from a self-directed trading account, a
                                        professionally managed account, or both on one single platform.</p>
                                </div>
                            </div>

                        </div>

                        <div class="tab-pane" id="second">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-2.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Fantasy Stock Games & Rewards </h2>
                                    <p>Win free stocks, gift cards, and more while playing weekly fantasy games.</p>

                                    <p>
                                        <strong>Green or Red </strong>– Similar to the sports betting over/under, you
                                        will pick whether 8 stocks will close positive or negative for the week.</p>

                                    <p>
                                        <strong>Stock Fantasy League (SFL) <sup>TM</sup></strong> – Fantasy football
                                        meets stock market! Set your weekly stock lineup and check the leaderboard to
                                        see if
                                        you’re a winner!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="third">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-3.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Cryptocurrency Trading </h2>
                                    <p>We partner with APEX Crypto to offer cryptocurrency trading in Bitcoin (BTC),
                                        Ethereum (ETH), Litecoin (LTC), and Ripple (XRP).  The future currencies of the
                                        world. </p>

                                    <div class="Disclosure">
                                        <p>Disclosure: Crypto offered through APEX Crypto. Cryptocurrency investing
                                            involves significant risks.</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="fourth">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-4.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Fractional Share Trading </h2>
                                    <p>We offer the ability for users to buy & sell fractional shares. You set the
                                        dollar amount you wish to invest. Amazon stock trades at over $3,000 per share.
                                        Can’t afford that? Well now you can. You tell us the dollar amount you want to
                                        invest and get a slice of a share.</p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="fifth">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-5.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Thematic Baskets </h2>
                                    <p>Thematic investing aims to identify macro-level trends. We offer our in house
                                        pre-built thematic portfolios for $1 a month! Add these to any Mudani account.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="sixth">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-6.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Margin & Options Trading </h2>
                                    <p>With options, you can be bullish on stocks you believe in and bearish on the ones
                                        you don’t. Although risky, options trading can be rewarding. </p>

                                    <p>Options trading with Mudani is simple. You can either buy a call or buy a put.
                                        That way, the most you can lose is your principal. We want to ensure we’re
                                        keeping our members safe from speculative trading and infinite losses.</p>

                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="seventh">
                            <div class="mobileFlex">
                                <div class="MobileImg">
                                    <img src="assets/images/What-get-7.png" alt="mobile">
                                </div>
                                <div class="mobileContent">
                                    <h2>Round-up Investing </h2>
                                    <p>Link your card and invest your spare change. If enabled, at the end of each
                                        month, we will automatically transfer over all of your rounded up change to
                                        invest directly into your managed account.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="MobileView">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-1.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Dual-Investment Journey </h2>
                            <p>Our platform allows users to choose from a self-directed trading account, a
                                professionally managed account or both on one single platform</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-2.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Fantasy Stock Games & Rewards </h2>
                            <p>Win free stocks, gift cards, and more while playing weekly fantasy games.</p>

                            <p>
                                <strong>Green or Red </strong>– Similar to the sports betting over/under, you will
                                pick whether 8 stocks will close positive or negative for the week.</p>

                            <p>
                                <strong>Stock Fantasy League (SFL) <sup>TM</sup></strong> – Fantasy football meet
                                stock market! Set your weekly stock lineup and check the leaderboard to see if
                                you’re a winner!
                            </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-3.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Cryptocurrency Trading </h2>
                            <p>We partner with APEX Crypto to offer cryptocurrency trading in Bitcoin (BTC),
                                Ethereum (ETH), Litecoin (LTC), and Ripple (XRP).  The future currencies of the
                                world. </p>

                            <div class="Disclosure">
                                <p>Disclosure: Crypto offered through APEX Crypto. Cryptocurrency investing involves
                                    significant risks.</p>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-4.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Fractional Share Trading </h2>
                            <p>We offer the ability for users to buy & sell fractional shares. You set the dollar
                                amount you wish to invest. </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-5.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Thematic Baskets </h2>
                            <p>Thematic investing aims to identify macro-level trends. We offer our in house
                                pre-built thematic portfolios for $1 a month! Add these to any Mudani account. </p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-6.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Margin & Options Trading </h2>
                            <p>With options, you can be bullish on stocks you believe in and bearish on the ones you
                                don’t. Although risky, options trading can be rewarding. </p>

                            <p>Options trading with Mudani is simple. You can either buy a call or buy a put. That way,
                                the most you can lose is your principal. We want to ensure we’re keeping our members
                                safe from speculative trading and infinite losses.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="mobileFlex">
                        <div class="MobileImg">
                            <img src="assets/images/What-get-7.png" alt="mobile">
                        </div>
                        <div class="mobileContent">
                            <h2>Round-up Investing </h2>
                            <p>Link your card and invest your spare change.  If enabled, at the end of each month,
                                we will automatically transfer over all of your rounded up change to invest directly
                                into your managed account. </p>
                        </div>
                    </div>
                </div>
            </div>

            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"><span></span></li>
                <li data-target="#demo" data-slide-to="1"><span></span></li>
                <li data-target="#demo" data-slide-to="2"><span></span></li>
                <li data-target="#demo" data-slide-to="3"><span></span></li>
                <li data-target="#demo" data-slide-to="4"><span></span></li>
                <li data-target="#demo" data-slide-to="5"><span></span></li>
                <li data-target="#demo" data-slide-to="6"><span></span></li>
            </ul>
        </div>
    </div>
</section>



<section class="pickPath boxs">
    <div class="container">
        <div class="pickInner">
            <h2 class="mainHead">Choose your <span class="colorBlue">plan.</span></h2>
            <p class="headmain">A plan for all. By the people, for the people.</p>

            <ul class="nav nav-tabs pickCard">
                <li>
                    <a href="#PickFirst" data-toggle="tab" class="active">
                        <span>Self-Directed </span>
                    </a>
                </li>
                <li>
                    <a href="#PickSecond" data-toggle="tab">
                        <span>Managed Account</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="PickFirst">
                    <div class="cards">

                        <div class="cardsLeft cardsLeftF">
                            <h3 class="basic">Basic</h3>
                            <h3 class="min">Free</h3>
                            <div class="cardInner">

                                <ul>
                                    <li>$0 commission on Stock & ETFs</li>
                                    <li>Access to Fantasy Stock Games & Rewards</li>
                                    <li>Options Trading</li>
                                    <li>Cryptocurrency Trading</li>
                                    <li>Fractional Share Trading in over 4,000 Stocks & ETFs</li>
                                </ul>

                                <div class="btnClass boxs">
                                    <a [routerLink]="['/sign-up']" class="btnsAll text-transform">Do it yourself</a>
                                </div>
                            </div>
                        </div>

                        <div class="cardsLeft cardsLeftNew active">
                            <h3 class="basic">Premium</h3>
                            <h3 class="min">$5/Mo</h3>
                            <div class="cardInner">

                                <ul>
                                    <li>Includes everything in the basic plan </li>
                                    <li>$0 commission on Option trades </li>
                                    <li>Margin Access </li>
                                    <li>1.5x points on Self-Directed Trades </li>
                                    <li>1.5x points on Games </li>
                                </ul>

                                <div class="btnClass boxs">
                                    <a [routerLink]="['/sign-up']" class="btnsAll text-transform">Do it yourself</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane" id="PickSecond">
                    <div class="cards">

                        <div class="cardsLeft cardsLeftF">
                            <h3 class="basic">Managed</h3>
                            <h3 class="min">$9/Mo</h3>
                            <div class="cardInner">

                                <ul>
                                    <li>We create a customized portfolio tailored to you, managed by our robo-advisor.
                                    </li>
                                    <li> Access to Round up Investing</li>
                                    <li> Yearly Portfolio Review with a Financial Advisor</li>
                                    <li> 2x points on Fantasy Stock Games</li>
                                    <li> Mudani Gift Box</li>
                                </ul>

                                <div class="btnClass boxs">
                                    <a [routerLink]="['/sign-up']" class="btnsAll text-transform">We do it for you</a>
                                </div>
                            </div>
                        </div>

                        <div class="cardsLeft cardsLeftNew active">
                            <h3 class="basic">Thematic Basket Add-on</h3>
                            <h3 class="min">$1/mo</h3>
                            <div class="cardInner">

                                <ul>
                                    <li>Invest in trends that will transform the future.</li>
                                    <li>Each thematic portfolio is actively managed by our robo advisor.</li>
                                    <li>Add a thematic basket to any mudani account (self direct basic/premium &
                                        managed.)</li>
                                    <li>Fund your account, sit back, and we’ll take care of the rest.</li>
                                </ul>

                                <div class="btnClass boxs">
                                    <a [routerLink]="['/themantic']" class="btnsAll text-transform">Do it yourself</a>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="everyPlace boxs otp_arrow">
    <div class="container-fluid">
        <div class="everyPlaceIn">
            <h2 class="mainHead">Everything in <span class="colorBlue"> One Place. </span></h2>
            <p class="headmain">An all-in-one app for every type of investor.</p>
        </div>
        <div class="everyPlaceFlex">
            <div class="placeFlexLeft">
                <div class="placeImg">
                    <img src="assets/images/home_mob.png" alt="mob">
                </div>
            </div>
            <div class="placeContent">
                <ul>
                    <li class="placeFirst">
                        <h2 class="inner">Held-Away Accounts</h2>
                        <p class="headmain">You can sync your external bank accounts or other investment accounts to the
                            Mudani app to get a holistic picture of your overall financial health and net worth. A
                            consolidated view of everything you need in one place.</p>
                    </li>
                    <li class="placeFirst">
                        <h2 class="inner">Fantasy Stock Games & Rewards</h2>
                        <p class="headmain">Play our weekly stock fantasy games for FREE. Winners will earn tokens to
                            redeem free stock and gift cards. Wanna learn the investing lingo before depositing real
                            money? This is for you.”</p>
                    </li>
                    <li class="placeFirst">
                        <h2 class="inner">Investing made easy</h2>
                        <p class="headmain">Trade stocks, ETF’s, options, & crypto all in one place. Want us to invest
                            for you? Add a managed account.</p>
                    </li>
                    <li class="placeFirst">
                        <h2 class="inner">Market News</h2>
                        <p class="headmain">Catch up on real-time market news. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="pririoty boxs" id="Security">
    <div class="container-fluid">
        <div class="pririotyInner">
            <h2 class="mainHead">You’re our priority.</h2>
            <!-- <p class="headmain">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
        </div>
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="pririotyImg">
                    <img src="assets/images/sheild1.png" alt="shild">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="discord">
                    <div class="set set2">
                        <a href="javascript:void(0)" class="">
                            <i class="fa fa-chevron-down"></i>
                            <span>Fintech company backed by the retail investor, not the “big guys.” </span>
                        </a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full accordianShow">
                                <p>Mudani is a privately-owned fintech app. We truly believe in the power of retail
                                    investing, transparency and accessibility for all. Mudani does not accept any
                                    funding (read: ownership) from Wall Street. </p>
                            </div>
                        </div>
                    </div>
                    <div class="set set2">
                        <a href="javascript:void(0)" class="">
                            <i class="fa fa-chevron-down"></i>
                            <span>You’re our asset, not your data.</span>
                        </a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full accordianShow">
                                <p>Mudani does not sell your private data to external vendors, contractors or third
                                    parties (unlike most apps). </p>
                            </div>
                        </div>
                    </div>
                    <div class="set set2">
                        <a href="javascript:void(0)" class="">
                            <i class="fa fa-chevron-down"></i>
                            <span>How we protect your investments.</span>
                        </a>
                        <div class="content content2" style="display: none;">
                            <div class="cont_full accordianShow">
                                <p>Mudani is a registered investment advisor (RIA) with the SEC. Our custodian, Apex
                                    Clearing, is registered with FINRA and a member of the Securities Investor
                                    Protection Corporation (SIPC). The securities in your account are fully protected.
                                    Our encrypted SSL portal provides secure and seamless connectively with over 14,000
                                    financial institutions all around the world. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="getStock boxs ReferFriendss" id="RefersFriends">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="MainWheel">
                    <div id="wheel1">
                        <div id="inner-wheel1">
                            <div class="sec">
                                <span id="bell"><img src="assets/images/Spin-8.png"></span>
                            </div>
                            <div class="sec">
                                <span id="comment"><img src="assets/images/Spin-2.png"></span>
                            </div>
                            <div class="sec">
                                <span id="smile"><img src="assets/images/Spin-3.png"></span>
                            </div>
                            <div class="sec">
                                <span id="heart"><img src="assets/images/Spin-4.png"></span>
                            </div>
                            <div class="sec">
                                <span id="star"><img style="filter: brightness(0) invert(1);"
                                        src="assets/images/Spin-7.png"></span>
                            </div>
                            <div class="sec">
                                <span id="lightbulb"><img src="assets/images/Spin-5.png"></span>
                            </div>
                            <div class="sec">
                                <span id="Seven"><img style="filter: brightness(0) invert(1);"
                                        src="assets/images/Spin-9.png"></span>
                            </div>
                            <div class="sec">
                                <span id="Eight"><img src="assets/images/Spin-10.png"></span>
                            </div>
                        </div>

                        <div id="spin1">
                            <!-- <div id="inner-spin"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="getStockRight">

                    <h2 class="mainHead">
                        Refer a friend. Both
                        <span class="colorBlue">get a free stock.</span>
                    </h2>

                    <div class="Friendlist">
                        <p class="headmain"> <span>1</span> Enter your email.</p>

                        <p class="headmain"> <span>2</span> Spin the wheel.</p>

                        <p class="headmain"> <span>3</span> Get free stock.</p>
                    </div>

                    <a data-toggle="modal" data-target="#refer" class="btnsAll" style="text-transform: inherit;">
                        Spin the wheel
                    </a>

                    <h6>
                        <span>
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                            Free Stock Disclosure :
                        </span>
                        The free stock offer is available to new members only, subject to the terms and conditions of
                        Mudani. Once your friend signs up, you both will be rewarded with a free stock. It’s that
                        simple.
                    </h6>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="Instafeed boxs">
    <div class="container-fluid">
        <div class="instaContent">
            <h2 class="mainHead">We're <span class="colorBlue">Social</span></h2>
        </div>
        <div class="instaInner">
            <owl-carousel-o [options]="customOptionsImg">
                <ng-template *ngFor="let image of instaImages" carouselSlide>
                    <img *ngIf="image?.media_type != 'VIDEO'" [src]="image?.media_url">
                    <video *ngIf="image?.media_type == 'VIDEO'" style="width: 100%;height: auto;">
                        <source [src]="image?.media_url" type="video/mp4">
                    </video>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="instagramDet">
            <a target="_blank" href="https://instagram.com/mudaniapp?igshid=u1eqerx58q7j">
                <span><img src="assets/images/instagram.svg" alt=""></span>@mudanicap
            </a>
        </div>
    </div>
</section>

<section class="totalControl boxs">
    <div class="container-fluid">
        <div class="totalConIn">
            <h2 class="mainHead">The new era of investing. Where the power <br> is with the people.</h2>
            <a [routerLink]="['/sign-up']" class="btnsAll text-transform" style="text-transform: inherit;">Get
                started</a>
        </div>
        <div class="story">
            <a href="javascript:void(0)" [routerLink]="['/sign-up']">Read more about our story ></a>
        </div>
    </div>
</section>

<section class="roundTable boxs">
    <div class="container-fluid">
        <div class="roundAlltab">
            <div class="roundLeftt">
                <img src="assets/images/round_table.png" alt="round">
            </div>
            <div class="roundTablein">
                <h2 class="mainHead">Round <span class="colorBlue">Table</span></h2>

                <p class="headmain">A 5-minute weekly newsletter discussing financial news in simple english.</p>

                <h2 class="inner">Simple. Factual. Fun.</h2>

                <form [formGroup]="subscriptionForm" (ngSubmit)="submitSubscription()">
                    <div class="emailRound">
                        <div class="roundEmail">
                            <input type="email" placeholder="Your Email" class="form-control" formControlName="email"
                                email="true">
                        </div>
                        <div class="roundBtn">
                            <button type="submit" [disabled]="subscriptionForm.invalid">Subscribe</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>


<div class="ModalBox">
    <div id="refer" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a class="CloseModal" data-dismiss="modal">×</a>
                        <div class="row referFrnd">
                            <div class="col-sm-12">
                                <!-- <form [formGroup]="referForm" (ngSubmit)="referSubmit()"> -->
                                <form [formGroup]="referForm" (ngSubmit)="spinWheel()">
                                    <h2 class="mainHead">Refer a friend, both get rewarded.</h2>
                                    <div class="form-group">
                                        <input type="text" formControlName="yourName" class="form-control"
                                            placeholder="Your Name">
                                        <p class="valdo" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf="referForm.controls.yourName.hasError('required')">
                                            Your Name is required
                                        </p>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" formControlName="yourEmail" class="form-control"
                                            placeholder="Your Email">
                                        <p class="valdo" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf="referForm.controls.yourEmail.hasError('required')">
                                            Your Email is required
                                        </p>
                                        <p class="valdo" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf="referForm.controls.yourEmail.hasError('email')">
                                            Email is not valid
                                        </p>
                                    </div>

                                    <!-- <div class="form-group mt-5 mb-5">
                                        <input type="text" formControlName="friendEmail" class="form-control"
                                            placeholder="Friends Email">
                                        <p class="valdoyst" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf=" referForm.controls.friendEmail.hasError('required')">
                                            Friend Email is required
                                        </p>
                                    </div> -->
                                    <div class="roundBtn">
                                        <button type="submit" class="Button btnSpin apply_btn"
                                            [disabled]="referForm.invalid">Spin the wheel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="thankYou" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a class="CloseModal" data-dismiss="modal">×</a>
                        <div class="Thanks2">
                            <a class="CloseModal" data-dismiss="modal">×</a>
                            <h1>Congrats! </h1>
                            <div class="Name">
                                <h4>Nokia (NOK)</h4>
                            </div>
                            <figure><img src="assets/images/nokia.png"></figure>
                            <p>Once your friend signs up, you both will be rewarded with a free stock. It’s that simple.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Friend" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Decline">
                        <a class="CloseModal" data-dismiss="modal">×</a>

                        <div class="FriendDetails">
                            <h1>Congrats! </h1>

                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#homeTab">Via text messages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#emailTab">Via Email</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="homeTab">
                                    <div class="ReferFeild">
                                        <form [formGroup]="referPhoneForm" (ngSubmit)="onPhoneSubmit()">
                                            <div>
                                                <div class="form-group">
                                                    <label for="">Friend's name</label>
                                                    <input type="text" class="form-control" formControlName="friendName"
                                                        placeholder="Full Name">
                                                </div>

                                                <p class="valdoyst"
                                                    *ngIf=" referPhoneForm.controls.friendName.hasError('required')">
                                                    Friend's name is required
                                                </p>
                                            </div>
                                            <div>
                                                <div class="form-group CountryCode">
                                                    <ngx-intl-tel-input [enableAutoCountrySelect]="true"
                                                        [enablePlaceholder]="true" [searchCountryFlag]="true"
                                                        [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                                        [selectFirstCountry]="false" [maxLength]="15"
                                                        [tooltipField]="TooltipLabel.Name" [phoneValidation]="true"
                                                        [separateDialCode]="true" formControlName="friendPhone">
                                                    </ngx-intl-tel-input>
                                                </div>
                                                <p class="valdoyst"
                                                    *ngIf="referPhoneForm.controls.friendPhone.hasError('required')">
                                                    Friend's phone is required
                                                </p>
                                            </div>
                                            <button type="submit">Refer</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="emailTab">
                                    <div class="ReferFeild">
                                        <form [formGroup]="referEmailForm" (ngSubmit)="onEmailSubmit()">
                                            <div>
                                                <div class="form-group">
                                                    <label for="">Friend's name</label>
                                                    <input type="text" class="form-control" formControlName="friendName"
                                                        placeholder="Full Name">
                                                </div>
                                                <p class="valdoyst"
                                                    *ngIf=" referEmailForm.controls.friendName.hasError('required')">
                                                    Friend's name is required
                                                </p>
                                            </div>

                                            <div>
                                                <div class="form-group">
                                                    <label for="">Friend's email</label>
                                                    <input type="text" class="form-control"
                                                        formControlName="friendEmail">
                                                </div>
                                                <p class="valdo"
                                                    style="color: #FF0000;text-align: left;font-size: 14px;"
                                                    *ngIf="referEmailForm.controls.friendEmail.hasError('required')">
                                                    Friend's email is required
                                                </p>
                                                <p class="valdo"
                                                    style="color: #FF0000;text-align: left;font-size: 14px;"
                                                    *ngIf="referEmailForm.controls.friendEmail.hasError('email')">
                                                    Friend's name is not valid
                                                </p>
                                            </div>
                                            <button type="submit">Refer</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="CongratModal" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="CongratsBox">
                    <a class="CloseModal" data-dismiss="modal">×</a>
                    <!-- <figure><img src="assets/images/nokia.png"></figure> -->
                    <figure><img id="stock_img" [src]="stockImage"></figure>
                    <input id="stock_name" style="display: none;" />
                    <h1>Done! You Sent <span>{{friendName}}</span> free stock in Daktronics. </h1>
                    <a (click)=" sendAnother()" class="another">Send another</a>
                </div>
            </div>
        </div>
    </div>



    <div id="SpinModal" class="modal " role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="ModalSpinner">
                    <div class="MainWheel">
                        <div id="wheel">
                            <div id="inner-wheel">
                                <div class="sec">
                                    <span id="bell"><img src="assets/images/Spin-8.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="comment"><img src="assets/images/Spin-2.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="smile"><img src="assets/images/Spin-3.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="heart"><img src="assets/images/Spin-4.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="star"><img style="filter: brightness(0) invert(1);"
                                            src="assets/images/Spin-7.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="lightbulb"><img src="assets/images/Spin-5.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="Seven"><img src="assets/images/Spin-9.png"></span>
                                </div>
                                <div class="sec">
                                    <span id="Eight"><img src="assets/images/Spin-10.png"></span>
                                </div>
                            </div>

                            <div id="spin"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ModalBox">
    <div id="ThanksModal" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="Thanksmessage">
                        <a href="JavaScript:Void(0);" class="CloseModal" data-dismiss="modal">×</a>
                        <h3>You're in! </h3>
                        <p>You're now subscribed to our weekly Round Table where we break down all things investing.
                            Welcome to the club.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="ModalBox ModalBoxHome">
    <div id="myModal" class="modal " role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="Decline">
                    <a class="CloseModal" href="javaScript:void(0)" style="z-index: 9;" data-dismiss="modal">×</a>
                    <div class="modal-body text-center p-0">
                        <div class="homeModalImg">
                            <img src="assets/images/calculator.png" alt="" class="img-fluid">
                        </div>
                        <div class="textAreaModal p-4">
                            <h1 class="colorBlue">Are you on the list?</h1>
                            <p class="pt-3">Get the latest from Mudani</p>
                            <form [formGroup]="latestNewsForm" (ngSubmit)="latestNewsSubmit()">
                                <div class="emailRound">
                                    <div class="roundEmail">
                                        <input type="email" placeholder="Your Email" class="form-control"
                                            formControlName="email" email="true">
                                        <!-- <p class="valdoyst" style="color: #FF0000;text-align: left;font-size: 14px;"
                                            *ngIf=" latestNewsForm.controls.email.hasError('required')">
                                            Email is required
                                        </p> -->
                                    </div>
                                    <div class="roundBtn">
                                        <button type="submit" [disabled]="latestNewsForm.invalid">Subscribe</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>




<app-footer [item]="footerType"></app-footer>